<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-4'>
        <h1><%= @user.name %>さんの情報</h1>
        <!--ユーザー情報のrender-->
        <%= render 'info', user: @user %>
        <div class='row btn  btn-block mt-4'><%= render 'follow', user: @user %></div>
          <!--ログインユーザーとユーザーidが一致していれば表示する-->
          <% if current_user == @user %>
          <!--新規投稿部分のrender-->
            <%= render 'books/form2', book: @book %> 
          <%end%>
        
        <h4>投稿した一覧</h4>
        <div>
        <!--ユーザーの投稿一覧render-->
          <%= render 'books/index3',books: @books %>
        </div>
    </div>
  </div>
</div>