<div class="list-group my-4">
    <h5 class="card-header text-center">投稿一覧</h5>
    <% books.each do |book| %>
    <div class="list-group-item list-group-horizontal mb-4" >
      <h5 class="card-title my-2"><i class="fab fa-hire-a-helper"></i> <%= link_to book.title, book_path(book), class: "book_#{book.id}" %></h5>
      <h6 class="card-subtitle mb-2 text-muted py-3"><i class="far fa-comment-alt"></i> <%= book.body %></h6>
        <!--お気に入りview-->
        <!--もし既にお気に入りしていたらデリート-->
        <div id="favorite_buttons_<%= book.id %>">  
            <%= render 'favorite', book: book %>
        </div>  
        <!--コメントview-->
        <i class="far fa-comment"></i> <%=  "#{book.book_comments.count} コメント" %>
    </div>
    <% end %>
</div>    
