<div class="card">
    <h5 class="card-header">投稿した一覧</h5>
        <% books.each do |book| %>
        <div class="card-body">
            <h5 class="card-title"><%= link_to book.title, book_path(book), class: "book_#{book.id}" %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= book.body %></h6>
            
            
            <% if book.favorited_by?(current_user) %>
            <p>
             <%= link_to book_favorites_path(book.id), method: :delete do %>
             ♥<%= book.favorites.count %> いいね
             <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to book_favorites_path(book.id), method: :post do %>
                ♡<%= book.favorites.count %> いいね
              <% end %>
            </p>
            <% end %>
            </td>
            <td>
             <p><%= link_to "#{book.book_comments.count} コメント" %></p>
            </td>
          </tr>
        </div>
        <% end %>
</div>    
