<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%#= render 'form', book: @booknew %>
      <h2><%= @book.user.name %>さん</h2>
      <%= render 'users/info',user:@user %>
      <%= render 'tag', tag_list: @tag_list %>
    </div>
    <div class='col-md-8 offset-md-1'>

  		<h2 class="py-2 text-center"><%= @book.user.name %>さんの投稿</h2>
  		<table class='table'>
  		  <tr>
  		    <td><%= link_to user_path(@book.user) do %>
            <p><%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-icon.jpg") %></p>
            <p class="d-flex align-items-center"><%= @book.user.name %></p>
              <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <% if @user == current_user || current_user.admin? %> <!--ログインユーザーもしくはadminユーザーなら表示する-->
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
          <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>
          <%end%>
          <td>
            <div id="favorite_buttons_<%= @book.id %>">  
              <%= render 'favorite', book: @book %>
            </div>  
          </td>
        </tr>
      </table>
        <%= render 'book_comment', book: @book, book_comment: @book_comment %>
      </div>
    </div>
  </div>
</div>